/* body */

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #ebebeb;
  overflow-x: hidden;
}

h1 {
  color: #ebebeb;
    font-size: 11rem;
    font-weight: 900;
    z-index: -1;
}

h2 {
  font-size: 2.5rem;
  font-weight: 200;
  line-height: 3.5rem;
}

p {
  font-weight: 300;
}

.text_light {
  font-weight: 300;
}

button, button:active, button:focus,
a:active, a:focus {
  outline: 0 !important;
  border: none !important;
  -moz-outline-style: none !important;
}

/* Main Content */
main {
  background-color: #fff;
  width: 100%;
}

/* Section Top */
.section_top {
  padding: 1rem 0;
}

.section_top .row div {
    padding: 1rem 0;
}

.bg_red{
    background-color: #ec1c24;
    height: auto;
    border-right: 2rem solid #fff;
}

/* Section FAQ - QUESTION  */

.col-question h2 {
  margin: -5.5rem 0 0 5.4rem;
  font-size: 3.7rem;
}

#accordion {
    padding: 2rem 0;
}

.card-header {
    padding: .3rem 1.25rem .3rem 0rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.0);
    border-bottom: 0px solid rgba(0,0,0,.125);
}
.card {
  border: 0px solid transparent;
  position: relative;
}
.collapse {
  position: relative;
  background-color: #ebebeb;
   transition:background-color 0.1s ease;
}

.card-body {
  padding: 1.25rem 3.5rem;
}

.card-body::before {
  background-color: #ebebeb;
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      right: 100%;
      width: 100vw;
}

.card-body::after {
  background-color: #ebebeb;
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      left: 100%;
      width: 100vw;
}

.card-header button {
    font-weight: 200;
    font-size: 1.1rem;
    color: #000 !important;
    width: 100%;
    text-align: left;
    transition: all 0.5s ease;
}

.card-header button:focus,
.card-header button:active,
.card-header button:hover {
  text-decoration: none;
  outline: none;
}

.card-header button:focus .list_number{
  color: red !important;
  font-weight: 400;
}

.card-header button:focus .list_title{
  font-weight: 300;
}

.list_number:after {
    content: '|';
    font-size: 1.5rem;
    color: rgba(0,0,0,.5);
    padding: 0 0.8rem;
    font-weight: 200 !important;
}


.list_arrow {
  float: right;
  height: 24px;
  width: 24px;
  margin-top: 0.2rem;
  background-image: url(../img/list1.png);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.5s ease;
}

.card-header button:focus .list_arrow{
  background-image: url(../img/list2.png);
}

.collapse:hover {
    position: relative;
    background-color: #ec1c24;
    color: #fff;
    transition: background-color 0.1s ease;
}


.collapse:hover .card-body::before,
.collapse:hover .card-body::after {
  background-color: #ec1c24;
}

/* Section FAQ - FILE */
.bg_black {
    background-color: #000;
    border-top-left-radius: 30px;
    padding: 1rem 0 1rem 2rem;
}

.bg_black::before {
  background: #000;
  content:'';
  position: absolute;
  top:0;
  height: 100%;
  left: 100%;
  width: 100vw;
}

.section_faq h2 span {
  display: block;
}


  .list_file {
      padding-left: 0px;
      margin-right: 0px;
      font-size: 1.1rem;
      font-weight: 400;
      list-style-type: none;
  }

  .list_file li {
      border-bottom: 1px solid rgba(255,255,255,.5);
      margin-bottom: 0.7rem;
      padding-bottom: 0.7rem;
  }

.list_file a {
  color: #fff;
}

.file_icon {
  float: right;
  height: 23px;
  width: 23px;
  background-image: url(../img/file2.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.list_file a:hover {
  text-decoration: none;
}

.list_file a:hover .file_icon {
  background-image: url(../img/file1.png);
}

/* RWD */
@media screen and (max-width: 1200px) {
  html, body {
    font-size: 15px;
  }
}

@media screen and (max-width: 922px) {
  html, body {
    font-size: 13px;
  }
}

@media screen and (max-width: 600px) {
  html, body {
    font-size: 14px;
  }
  .bg_red {
    border-right: 0rem solid #fff;
  }

  .section_top p {
    padding: 0 1rem;
  }

  .col-question h2 {
      margin: -5.5rem 0 0 1rem;
      font-size: 2.3rem;
  }

  .list_file {
      padding-right: 1.5em;
  }

  .card-body {
      padding: 1.25rem 0 1.25rem 3.5rem;
  }

  .list_title {
      white-space: normal;
  }

  .list_arrow {
      position: absolute;
      top: 1.5rem;
      right: 0;
  }

  .list_number:after {
      padding: 0 0.2rem;
  }
}
